<template name="list">
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>github</th>
            <th>Delete</th>
        </tr>
        {{#each users }}
        <tr>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td><a target="_blank" href="http://github.com/{{ user.github }}">{{ user.github }}</a></td>
            <td>
                <button id="{{ _id }}" class="delete-btn">Delete</button>
            </td>
        </tr>
        {{/each }}
    </table>
    <ul>
    </ul>
</template>